{% extends '@custom_plexcel/base.html.twig' %}

{% block body_class %}login{% endblock %}

{% block body %}
    <section id="login">
        {% block form %}
        {% endblock %}
    </section>
{% endblock %}
