parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: opus
    database_user: opus
    database_password: opus
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: ThisTokenIsNotSoSecretChangeIt