<div class ="col-md-offset-10 col-md-2">
    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <a href="{{ path('homepage', {'_switch_user': '_exit'}) }}">Exit impersonation</a>
    {% else %}
        {{ form_start(formRole, {'attr' : {'class' : 'form-role'}}) }}
        {{ form_end(formRole) }}
    {% endif %}


    </form>
</div>
<div class="row"></div>
<script>

    jQuery(document).ready(function() {

        $("#all-sheets").on("submit", ".form-role", function(ev) {
            ev.preventDefault();
            ev.stopPropagation();
            var datas = $(this).serializeArray();
            $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                data: datas,
                success: function (data) {
                    console.log('Yes');
                }
            })
        })


    })
</script>
