<div class="row">
    <div class="container-fluid">
        <div class="col-md-12 col-xs-12 ariane-background-color">
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path("homepage") }}">
            <img src="{{ asset('bundles/arianespacetheme/images/header/logo.png') }}" alt="">
        </a>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right "><!-- /.dropdown -->
        <li>Bienvenue, {{ app.security.getToken().getUser().getDisplayName() }}</li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            {{ knp_menu_render('user', {'template': 'AppBundle:Menu:knp_menu.html.twig'}) }}
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
</nav>