<div class="datatable-action text-center">
    <a href="{{ path('generator_editsheet', {'id':id}) }}">
        <button class="btn btn-success btn-lg">
            <i class="ace-icon fa fa-wrench  bigger-110 icon-only"></i>
        </button>
    </a>
</div>
