/* line 13, ../scss/arianestyle.scss */
table thead {
  line-height: 18px;
  height: 18px;
  font-weight: normal;
  vertical-align: middle;
  text-align: left;
  color: #FFF;
  text-shadow: none;
  background-color: #3075B4;
  background-image: linear-gradient(to bottom, #3981bb, #2362a9);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  padding: 10px;
  font-size: 15px;
}
/*/!* line 31, ../scss/arianestyle.scss *!/*/
/*table tbody tr:nth-child(2n+1) th {*/
  /*background-color: #F9F9F9;*/
/*}*/
/*/!* line 34, ../scss/arianestyle.scss *!/*/
/*table tbody tr:nth-child(2n+1) td {*/
  /*background-color: #F9F9F9;*/
/*}*/
/* line 39, ../scss/arianestyle.scss */
table tbody tr {
  border-top: 1px solid #DCDCDC;
}
/* line 41, ../scss/arianestyle.scss */
table tbody tr td {
  vertical-align: middle !important;
}
/* line 46, ../scss/arianestyle.scss */
table tbody tr:hover {
  background-color: #f5f5f5;
}

/* line 53, ../scss/arianestyle.scss */
#me h2:before {
  display: inline-block;
  width: 0px;
  height: 0px;
  background-color: transparent;
  font-size: 0px;
  margin-right: 0px;
  content: "";
}

/* line 66, ../scss/arianestyle.scss */
.nav-pills li.active a {
  background-color: #3075B4;
  background-image: linear-gradient(to bottom, #3981bb, #2362a9);
  background-repeat: repeat-x;
}

/* line 74, ../scss/arianestyle.scss */
h2:before {
  display: inline-block;
  width: 5px;
  height: 15px;
  background-color: #3074B3;
  font-size: 15px;
  margin-right: 27px;
  content: "";
}

/* line 85, ../scss/arianestyle.scss */
.navbar-default a.navbar-brand {
  color: #FFFFFF;
}
/* line 90, ../scss/arianestyle.scss */
.navbar-default ul li {
  color: #FFFFFF;
}

/* line 102, ../scss/arianestyle.scss */
.panel-heading {
  background-color: #3075B4;
  background-image: linear-gradient(to bottom, #3981bb, #2362a9);
  background-repeat: repeat-x;
}
/* line 107, ../scss/arianestyle.scss */
.panel-heading h4.panel-title a {
  color: #FFFFFF;
}

/* line 113, ../scss/arianestyle.scss */
footer {
  background: #3981BB url("/bundles/arianespacetheme/images/header/fond.jpg") repeat-x scroll 0px 0px;
}

/* line 117, ../scss/arianestyle.scss */
nav {
  background-color: transparent;
}

/* line 121, ../scss/arianestyle.scss */
h3.panel-title {
  color: #FFFFFF;
}

/* line 125, ../scss/arianestyle.scss */
.btn, button, input[type=submit], input[type=button], input[type=reset] {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  cursor: pointer;
  border: 1px solid #ccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 140, ../scss/arianestyle.scss */
.btn:focus, button:focus, input[type=submit]:focus, input[type=button]:focus, input[type=reset]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 145, ../scss/arianestyle.scss */
.btn.active, .btn:active, button.active, button:active, input[type=submit].active, input[type=submit]:active, input[type=button].active, input[type=button]:active, input[type=reset].active, input[type=reset]:active {
  background-image: none;
  outline: 0;
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 152, ../scss/arianestyle.scss */
.btn.disabled, .btn[disabled], button.disabled, button[disabled], input[type=submit].disabled, input[type=submit][disabled], input[type=button].disabled, input[type=button][disabled], input[type=reset].disabled, input[type=reset][disabled] {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=6500);
  opacity: 65;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 159, ../scss/arianestyle.scss */
.btn.primary, button.primary, input[type=submit].primary, input[type=button].primary, input[type=reset].primary {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006ccc;
  background-image: -moz-linear-gradient(top, #08c, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #08c, #0044cc);
  background-image: -o-linear-gradient(top, #08c, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0044CC', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 90, ../scss/_base.scss */
.btn.primary:hover, .btn.primary:focus, .btn.primary:active, .btn.primary.active, .btn.primary.disabled, .btn.primary[disabled], button.primary:hover, button.primary:focus, button.primary:active, button.primary.active, button.primary.disabled, button.primary[disabled], input[type=submit].primary:hover, input[type=submit].primary:focus, input[type=submit].primary:active, input[type=submit].primary.active, input[type=submit].primary.disabled, input[type=submit].primary[disabled], input[type=button].primary:hover, input[type=button].primary:focus, input[type=button].primary:active, input[type=button].primary.active, input[type=button].primary.disabled, input[type=button].primary[disabled], input[type=reset].primary:hover, input[type=reset].primary:focus, input[type=reset].primary:active, input[type=reset].primary.active, input[type=reset].primary.disabled, input[type=reset].primary[disabled] {
  color: #fff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
/* line 96, ../scss/_base.scss */
.btn.primary:active, .btn.primary.active, button.primary:active, button.primary.active, input[type=submit].primary:active, input[type=submit].primary.active, input[type=button].primary:active, input[type=button].primary.active, input[type=reset].primary:active, input[type=reset].primary.active {
  background-color: #003399 \9;
}
/* line 163, ../scss/arianestyle.scss */
.btn.warning, button.warning, input[type=submit].warning, input[type=button].warning, input[type=reset].warning {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f9a732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFBB450', endColorstr='#FFF89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 90, ../scss/_base.scss */
.btn.warning:hover, .btn.warning:focus, .btn.warning:active, .btn.warning.active, .btn.warning.disabled, .btn.warning[disabled], button.warning:hover, button.warning:focus, button.warning:active, button.warning.active, button.warning.disabled, button.warning[disabled], input[type=submit].warning:hover, input[type=submit].warning:focus, input[type=submit].warning:active, input[type=submit].warning.active, input[type=submit].warning.disabled, input[type=submit].warning[disabled], input[type=button].warning:hover, input[type=button].warning:focus, input[type=button].warning:active, input[type=button].warning.active, input[type=button].warning.disabled, input[type=button].warning[disabled], input[type=reset].warning:hover, input[type=reset].warning:focus, input[type=reset].warning:active, input[type=reset].warning.active, input[type=reset].warning.disabled, input[type=reset].warning[disabled] {
  color: #fff;
  background-color: #f89406;
  *background-color: #df8505;
}
/* line 96, ../scss/_base.scss */
.btn.warning:active, .btn.warning.active, button.warning:active, button.warning.active, input[type=submit].warning:active, input[type=submit].warning.active, input[type=button].warning:active, input[type=button].warning.active, input[type=reset].warning:active, input[type=reset].warning.active {
  background-color: #c67605 \9;
}
/* line 167, ../scss/arianestyle.scss */
.btn.danger, button.danger, input[type=submit].danger, input[type=button].danger, input[type=reset].danger {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4e49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEE5F5B', endColorstr='#FFBD362F', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 90, ../scss/_base.scss */
.btn.danger:hover, .btn.danger:focus, .btn.danger:active, .btn.danger.active, .btn.danger.disabled, .btn.danger[disabled], button.danger:hover, button.danger:focus, button.danger:active, button.danger.active, button.danger.disabled, button.danger[disabled], input[type=submit].danger:hover, input[type=submit].danger:focus, input[type=submit].danger:active, input[type=submit].danger.active, input[type=submit].danger.disabled, input[type=submit].danger[disabled], input[type=button].danger:hover, input[type=button].danger:focus, input[type=button].danger:active, input[type=button].danger.active, input[type=button].danger.disabled, input[type=button].danger[disabled], input[type=reset].danger:hover, input[type=reset].danger:focus, input[type=reset].danger:active, input[type=reset].danger.active, input[type=reset].danger.disabled, input[type=reset].danger[disabled] {
  color: #fff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
/* line 96, ../scss/_base.scss */
.btn.danger:active, .btn.danger.active, button.danger:active, button.danger.active, input[type=submit].danger:active, input[type=submit].danger.active, input[type=button].danger:active, input[type=button].danger.active, input[type=reset].danger:active, input[type=reset].danger.active {
  background-color: #942a25 \9;
}
/* line 171, ../scss/arianestyle.scss */
.btn.success, button.success, input[type=submit].success, input[type=button].success, input[type=reset].success {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb65b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF62C462', endColorstr='#FF51A351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 90, ../scss/_base.scss */
.btn.success:hover, .btn.success:focus, .btn.success:active, .btn.success.active, .btn.success.disabled, .btn.success[disabled], button.success:hover, button.success:focus, button.success:active, button.success.active, button.success.disabled, button.success[disabled], input[type=submit].success:hover, input[type=submit].success:focus, input[type=submit].success:active, input[type=submit].success.active, input[type=submit].success.disabled, input[type=submit].success[disabled], input[type=button].success:hover, input[type=button].success:focus, input[type=button].success:active, input[type=button].success.active, input[type=button].success.disabled, input[type=button].success[disabled], input[type=reset].success:hover, input[type=reset].success:focus, input[type=reset].success:active, input[type=reset].success.active, input[type=reset].success.disabled, input[type=reset].success[disabled] {
  color: #fff;
  background-color: #51a351;
  *background-color: #499249;
}
/* line 96, ../scss/_base.scss */
.btn.success:active, .btn.success.active, button.success:active, button.success.active, input[type=submit].success:active, input[type=submit].success.active, input[type=button].success:active, input[type=button].success.active, input[type=reset].success:active, input[type=reset].success.active {
  background-color: #408140 \9;
}
/* line 175, ../scss/arianestyle.scss */
.btn.info, button.info, input[type=submit].info, input[type=button].info, input[type=reset].info {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5BC0DE', endColorstr='#FF2F96B4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 90, ../scss/_base.scss */
.btn.info:hover, .btn.info:focus, .btn.info:active, .btn.info.active, .btn.info.disabled, .btn.info[disabled], button.info:hover, button.info:focus, button.info:active, button.info.active, button.info.disabled, button.info[disabled], input[type=submit].info:hover, input[type=submit].info:focus, input[type=submit].info:active, input[type=submit].info.active, input[type=submit].info.disabled, input[type=submit].info[disabled], input[type=button].info:hover, input[type=button].info:focus, input[type=button].info:active, input[type=button].info.active, input[type=button].info.disabled, input[type=button].info[disabled], input[type=reset].info:hover, input[type=reset].info:focus, input[type=reset].info:active, input[type=reset].info.active, input[type=reset].info.disabled, input[type=reset].info[disabled] {
  color: #fff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
/* line 96, ../scss/_base.scss */
.btn.info:active, .btn.info.active, button.info:active, button.info.active, input[type=submit].info:active, input[type=submit].info.active, input[type=button].info:active, input[type=button].info.active, input[type=reset].info:active, input[type=reset].info.active {
  background-color: #24748c \9;
}
/* line 179, ../scss/arianestyle.scss */
.btn.inverse, button.inverse, input[type=submit].inverse, input[type=button].inverse, input[type=reset].inverse {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #444, #222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#222));
  background-image: -webkit-linear-gradient(top, #444, #222);
  background-image: -o-linear-gradient(top, #444, #222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF444444', endColorstr='#FF222222', GradientType=0);
  border-color: #222 #222 black;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #222;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 90, ../scss/_base.scss */
.btn.inverse:hover, .btn.inverse:focus, .btn.inverse:active, .btn.inverse.active, .btn.inverse.disabled, .btn.inverse[disabled], button.inverse:hover, button.inverse:focus, button.inverse:active, button.inverse.active, button.inverse.disabled, button.inverse[disabled], input[type=submit].inverse:hover, input[type=submit].inverse:focus, input[type=submit].inverse:active, input[type=submit].inverse.active, input[type=submit].inverse.disabled, input[type=submit].inverse[disabled], input[type=button].inverse:hover, input[type=button].inverse:focus, input[type=button].inverse:active, input[type=button].inverse.active, input[type=button].inverse.disabled, input[type=button].inverse[disabled], input[type=reset].inverse:hover, input[type=reset].inverse:focus, input[type=reset].inverse:active, input[type=reset].inverse.active, input[type=reset].inverse.disabled, input[type=reset].inverse[disabled] {
  color: #fff;
  background-color: #222;
  *background-color: #151515;
}
/* line 96, ../scss/_base.scss */
.btn.inverse:active, .btn.inverse.active, button.inverse:active, button.inverse.active, input[type=submit].inverse:active, input[type=submit].inverse.active, input[type=button].inverse:active, input[type=button].inverse.active, input[type=reset].inverse:active, input[type=reset].inverse.active {
  background-color: #090909 \9;
}

/* line 184, ../scss/arianestyle.scss */
.dataTables_length {
  display: inline;
}

/* line 188, ../scss/arianestyle.scss */
.dataTables_filter {
  display: inline;
  float: right;
}

/* line 193, ../scss/arianestyle.scss */
.ariane-background {
  background: transparent url("/bundles/arianespacetheme/images/header/container_background.png") no-repeat scroll center center;
  z-index: 700;
  position: absolute;
  height: 180px;
}

/* line 200, ../scss/arianestyle.scss */
.ariane-background-color {
  background: #3981BB url("/bundles/arianespacetheme/images/header/fond.jpg") repeat-x scroll 0px 0px;
  z-index: 500;
  position: absolute;
  height: 180px;
}

/* line 207, ../scss/arianestyle.scss */
.navbar {
  height: 180px;
  background-color: transparent !important;
}

/* line 212, ../scss/arianestyle.scss */
.navbar-brand {
  margin-top: 30px;
}

.loader,
.loader:before,
.loader:after {
    background: #1485BD;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader {
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #1485BD;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #1485BD;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #1485BD;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #1485BD;
        height: 5em;
    }
}

.square-state{
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
}

.btn-light-info{
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}