/* line 3, ../scss/style.scss */
.panel-done {
  border-style: dashed;
  border-color: grey;
}
/* line 6, ../scss/style.scss */
.panel-done .panel-heading {
  background: grey;
  color: white;
}

/* line 12, ../scss/style.scss */
.panel-yellow {
  border-color: #f1c40f;
}
/* line 14, ../scss/style.scss */
.panel-yellow .panel-heading {
  background: #f1c40f;
}

/* line 18, ../scss/style.scss */
.panel-orange {
  border-color: #e67e22;
}
/* line 20, ../scss/style.scss */
.panel-orange .panel-heading {
  background: #e67e22;
  color: white;
}

/* line 26, ../scss/style.scss */
.panel-footer {
  min-height: 45px;
}

/* line 30, ../scss/style.scss */
.table-orange {
  background: #e67e22;
  border-color: #e67e22;
  color: white;
}

/* line 36, ../scss/style.scss */
#creation_entretien {
  display: none;
}

/* line 39, ../scss/style.scss */
.upperFirst {
  text-transform: uppercase;
  text-align: center;
}

/* line 43, ../scss/style.scss */
input[type="checkbox"] {
  text-align: center;
  display: block;
  width: 40px;
  margin: 0 auto;
}

/* line 49, ../scss/style.scss */
.tab-pane {
  margin: 20px;
}
