<div class="tab-pane fade" id="update_users">
    <div class="col-lg-12">
        <h2>Mettre à jour les utilisateurs par l'AD</h2>
        <div class="panel panel-default">
            {#<!-- /.panel-heading -->#}
            <div class="panel-body">

                <a class="btn btn-warning update-users" href="{{ path('user_update') }}">Mettre à jour tous les utilisateurs</a>

            </div>
            {#<!-- /.panel-body -->#}
        </div>
    </div>
</div>
<script>

    jQuery(document).ready(function() {

        $('body').on("click", ".update-users", function(e) {
            e.preventDefault();
            e.stopPropagation();
            $.ajax({
                type: "POST",
                url: $(this).attr('href'),
                success: function (data) {
                    $.gritter.add({
                        title: 'Information',
                        text: data+' utilisateurs ont été vérifiés.'
                    });
                }
            })
        })


    })
</script>
