.nav-tabs>li.active>a, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  border-top: 1px solid #f3565d;
}

.no-horizontal {
  resize:vertical;
  min-height: 100px;
}
.no-vertical{
  resize: horizontal;
  min-height: 100px;
}
.none-sense{
  resize: none;
  min-height: 100px;
}

.block-title-form{
  text-align: center;
  margin-top: 15px;
  padding-bottom: 5px;
  color: #2F73B3;
  border-bottom: 2px solid #2F73B3;
}