.tabbable-custom > .nav-tabs
{
  > li.active {
    border-top: 3px solid #f3565d;
    margin-top: 0;
    position: relative;
  }
  > li {
    border-top: 2px solid transparent;
    margin-right: 2px;
  }
}
